.desc {
    color: blueviolet;
}

body {
<<<<<<< Updated upstream
    background-color: purple;
=======
    background-color: violet;
>>>>>>> Stashed changes
    font-size: 3rem;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
